@charset "UTF-8";

html{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Remove default spacing */
body {

    margin: 0;
    padding: 0;
}

img {

    width: 610px;
    height: 944px;
}  

main h2,
main h3,
main p {

    margin: 5px 0;
}
