@charset "UTF-8";
html {

}

header {
    display: flex;
    flex-direction: column;
}

header > h1 {

    margin: 0%;
    margin-left: 45%;
    top: 50%;
    color: orange;
    order: 1;

}

header > p {

    margin: 0%;
    margin-left: 10%;
    order: -1;
    text-transform: uppercase;
    color: pink;

}

main {
    display: flex;
    flex-direction: column;
}

main > aside:first-of-type {
    order: -1;
    margin: 0 0 20px 0;
}