@charset "UTF-8";

@font-face {
    font-family: 'Gelasio';
    src: url("../static/Gelasio-Regular.ttf");
}

header {
    display: flex;
    flex-direction: column;
    
}

header > h1 {

    margin: 0%;
    margin-left: 1.5%;
    top: 50%;
    color: orange;
    order: 1;
    font-size: 200px;
    padding-bottom: 3%;
    padding-top: 3%;
    font-family: Gelasio;

}

header > p {

    margin: 0%;
    margin-left: 3.5%;
    order: -1;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    padding-top: 15px;

}

main {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
    align-items: start;
    
}

main > section {
    grid-column: 2;
    /* grid-row: 1; */
    font-size: 25px;
}

main > section ol {
    padding-left: 100px; 
}

main > aside:first-of-type {
    grid-column: 1;
    grid-row: 1 / span 4;
    font-size: 20px;
    
}

main > aside:last-of-type {
    grid-column: 1;
    margin-top: -10px;
    font-size: 25px;
    margin-left: 21.5%;
    border: 2px solid orange; 
    width: 545px; 
    height: 460px;
    padding-left: 15px; 
    padding-right: 15px;    
    padding-top: 40px;        
    background-color: white;
    position: absolute;
    top: 139%;
    left: -17%;
    
} 

main > aside:last-of-type ol {
    padding-left: 50px;   
    padding-bottom: 6px;
}

main > aside:last-of-type li {
    text-align: left;
    margin-bottom: 8px;
    line-height: 1.4;
}

ol {
    padding-left: 20px;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 20px;
    position: absolute;
    left: 73.5%;

    em{
        color: orange;
    }

    strong{
        font-size: 25px;
        padding-left: 12px;
    }
}

h2 {

    font-size: 50px;
}

main > section:nth-of-type(1){

    border-top: 10px solid rgb(30, 170, 30);
    width: 1000px;

    h3{
        color: rgb(30, 170, 30);
        text-transform: uppercase;
    }

}

main > section:nth-of-type(2){

    border-top: 10px solid rgb(218, 44, 102);
    width: 1000px;

    h3{
        color: rgb(218, 44, 102);
        text-transform: uppercase;
    }

}

main > section:nth-of-type(3){

    border-top: 10px solid rgb(48, 144, 173);
    width: 1000px;

    h3{
        color: rgb(48, 144, 173);;
        text-transform: uppercase;
    }

}

figcaption > p:nth-of-type(1) {

    padding: 80px;
    border: transparent;
    width: 180px;
    position: absolute;
    top: 105%;
    line-height: 100%;

    em{

        font-size: 150px;
        font-style: normal;
    }
     
}

figcaption > p:nth-of-type(2) {

    position: absolute;
    top: 178%;
    left: -1%;
    transform: rotate(-90deg);
    
}
