@charset "UTF-8";
html {

}

header {
    display: flex;
    flex-direction: column;
}

header > h1 {

    margin: 0%;
    margin-left: 3%;
    top: 50%;
    color: orange;
    order: 1;
    font-size: 200px;

}

header > p {

    margin: 0%;
    margin-left: 10%;
    order: -1;
    text-transform: uppercase;
    color: pink;
    font-size: 30px;

}

main {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
    align-items: start;
}

main > section {
    grid-column: 2;
    /* grid-row: 1; */
    font-size: 30px;
}

main > aside:first-of-type {
    grid-column: 1;
    grid-row: 1 / span 4;
    font-size: 20px;
}

main > aside:last-of-type {
    grid-column: 1;
    margin-top: -10px;
    font-size: 20px;
    margin-left: 21.5%;
    border: 2px solid black; 
    width: 480px; 
    height: 400px;
    padding: 50px;             
    background-color: white;
    position: absolute;
    top: 142%;
    left: -15%;
    
    p{
        text-align: center;
    }
} 

ol {
    padding-left: 20px;
    margin: 0;
}

 img {
    width: 710px;
    height: 1144px;
}  

main h2,
main h3,
main p {
    margin: 5px 0;
}






